// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.clearfix {
	height: 100px;
}
table.dataTable tfoot th {
	text-align: center;
}
#inventory-create,
#card-create,
#request-create,
#request-update {
	margin-bottom: 30px;
	input[type='submit'] {
		background: transparent;
		border: 0;
		font-style: normal;
	}
	textarea {
		border: 0;
		border-bottom: 1px solid #999;
	}
}
footer.page-footer {
	background: #000;
	.footer-copyright {
		font-size: 14px;
	}
}
.bold{
	height: 64px;
}
.error {
  color: red;
  font-size: 11px;
  position: relative;
  margin-top: -0.5rem;
  font-weight: bold; 
}

.error1 {
	color: black;
} 

.browser-default {
	background-color:transparent;
	border:none;
	border-bottom:1px solid #9e9e9e;
	width:30%;
	border-radius:2px;
	height:3rem;
	cursor:pointer;
	margin: 0 0 15px 0;
	padding:0;
}

.select-wrapper {
	margin-bottom:-2rem;
}

.slash {
	font-size:22px;
}